.nav{
display:flex;
border: 1px solid red;
border-radius: 20px;
background-color: rgb(42, 42, 140);
color:rgb(240, 237, 237)
}
#hello{
    display:flex;
    /* margin: auto; */
    margin-left: 60%;
    gap: 30px;
   
}
a{
    color:rgb(217, 211, 211)
}